body {
  background-color: #E8EDED;
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Gambiarra para a resposividade */
}

.container_logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-left: 50px;
}

.img_navbar {
  width: auto;
  height: 100%;
}

.ancor_img {
  height: 100%;
}

.container_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-right: 1em;
}

.container_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 10px 15px;
  border-radius: 24px;
  margin-right: 20px;
}

.clicked {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  background-color: #c4cdff69;
  padding: 10px 15px;
  border-radius: 24px;
  margin-right: 20px;
}

.nav_icon {
  width: 1.5em;
}

.botao_home {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  color: #405A94;
  text-decoration: none;
}

.botao_home:hover {
  text-decoration: none;
}

.container_user {
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #c4cdff69;
  padding: 0.5em;
  border-radius: 32px;
  cursor: pointer;
}

.username {
  color: #405A94;
  margin-bottom: 0;
  margin-left: 0.3em;
}

.user_icon {
  height: 2em;
}


#search {
  padding: 10px;
  border-radius: 10px; 
  border: none;
  width: 400px;
  height: 20%;
  font-size: 16px;
  outline: none;
  font-family: "Poppins";
}

.search_icon {
  margin-left: 1em;
  height: 1.5em;
}


.container_input {
  display: flex;
  flex-direction: row;
  align-items: center; 
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 30px;
  gap: 1em;
}

.container_logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
}

.container_logout:hover {
  background-color: #8b8b8b4f;
  cursor: pointer;
}

.container_logout a {
  color: #b80000;
}

.icon_logout {
  height: 1.5em;
}

