h1 {
  font-size: 20px;
}

.logout-button {
  font-size: 16px;
  color: rgba(120, 137, 179, 1);
}

.logout-button:hover {
  color: rgba(120, 137, 179, 1);
}

.container_navbar {
  font-family: "Poppins";
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #405a94;
  flex-direction: row;
}

.container_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}


.container_user {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.current {
  color:#434e66;
}

.admin_button {
  gap: 8px;
  background-color: #405a94;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
}

.admin_button:hover {
  color:white;
  background-color: #344c7e;
}

.admin_buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.msg {
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px;
  width: 20%;
  font-size: 18px;
  background-color: #E8EDED;
}
